<!-- /sections/index-collection-tab.liquid -->
{%- if section.blocks.size > 0 -%}
<div data-section-type="collection-tab-section" class="spaced-section {{ section.settings.display }}" data-section-name="collection-tab-section">
  <div class="container">
    <div class="collection-tab__container">
      <tab-collection-component data-tab-id="{{ section.id }}">
        <div class="box-divider title-{{ section.id }}">
          {%- if section.settings.icon != blank -%}
          <div class="group-icon">
          {%- endif -%}
          {%- if section.settings.icon != blank -%}
            <img class="box-icon"
                 srcset="{% render 'bgset', image: section.settings.icon %}"
                 src="{% render 'srcset', image: section.settings.icon %}"
                 alt="{{ section.settings.icon.alt | escape }}"
                 loading="lazy"
                 width="{{ section.settings.icon.width }}"
                 height="{{ section.settings.icon.height }}"
                 >
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <h2 class="box-title">{{ section.settings.title }}</h2>
          {%- endif -%}
          {%- if section.settings.icon != blank -%}
          </div>
          {%- endif -%}
          <ul class="collection-tab__title nav-tabs__title no-bullet">
            {% for block in section.blocks %}
              <li class="tabs-title {% if forloop.first == true %}is-active{% endif %}" 
                  data-tabs-title 
                  data-tabs-collection="{{ collections[block.settings.collection].url }}" 
                  >
                {{ block.settings.title }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="collection-tab__content {% if section.settings.banner_active %}collection-tab__content-{{ section.settings.banner_position }}{% else %}collection-tab__content-full{% endif %}">
          <div class="nav-tabs__content">
            <div class="nav-tabs__content-inner">
              <div class="collection-tab__content-loading is-loading" data-tabs-collection-loading></div>
              {% for block in section.blocks limit: 1 %}
                <div id="tab-{{ section.id }}-{{ forloop.index }}" class="tabs-panel {% if forloop.first == true %}is-active{% endif %}" 
                     data-tabs-panel
                     data-tabs-collection-limit="{{ section.settings.limit }}"
                     data-tabs-carousel-param='{"loop": "false", "effect": "{{ section.settings.effect }}", "autoplay": "{{ section.settings.autoplay }}", "autoplaySpeed": "{{ section.settings.autoplay_speed }}", "space": "{{ section.settings.space }}", "col": "{{ section.settings.col }}", "col_sm": "{{ section.settings.col_sm }}", "col_md": "{{ section.settings.col_md }}", "col_lg": "{{ section.settings.col_lg }}", "col_xl": "{{ section.settings.col_xl }}", "col_xxl": "{{ section.settings.col_xxl }}", "row": "1"}'
                     data-tabs-carousel-navigation="{{ section.settings.navigation }}"
                     data-tabs-carousel-pagination="{{ section.settings.pagination }}"
                     >
                </div>
              {% endfor %}
            </div>
          </div>
          {%- if section.settings.banner_active -%}
            <div class="collection-tab__banner">
              {%- if section.settings.image != blank -%}
                <a href="{{ section.settings.image_link }}" class="collection-tab__banner-link">
                  {%- assign preview_img = section.settings.image -%}
                  <div class="lazy-bg collection-tab__banner-image" style="padding-bottom: {{ 100 | divided_by: preview_img.aspect_ratio }}%;">
                    <img {% render 'lazyload', preview_img: preview_img  %} />
                    <span class="data-lazy-loading"></span>
                  </div>
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </tab-collection-component>
    </div>
  </div>
</div>
{%- endif -%}
{% style %}
  .title-{{ section.id }}:after{
    background-color: {{ section.settings.color }};
  }
{% endstyle %}
{% schema %}
{
  "name": "Collection Tab",
  "class": "index-collection-tab",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "display",
      "label": "Display on",
      "options": [
        {
          "value": "",
          "label": "Desktop & Mobile"
        },
        {
          "value": "d-none d-md-block",
          "label": "Desktop only"
        },
        {
          "value": "d-block d-md-none",
          "label": "Mobile only"
        }
      ],
      "default": ""
    },
	{
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
      "type": "image_picker",
      "id": "icon",
      "label": "Upload icon"
    },
	{
      "type": "color",
      "id": "color",
      "label": "Color border",
	  "default": "#ce51d1"
    },
	{
      "type": "text",
      "id": "limit",
      "label": "Limit products show",
      "default":"8"
    },
	{
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto-play slides",
      "default": true
    },
    {
      "type": "select",
      "id": "autoplay_speed",
      "label": "Change slides every",
      "options": [
        {
          "value": "3000",
          "label": "3 seconds"
        },
        {
          "value": "4000",
          "label": "4 seconds"
        },
        {
          "value": "5000",
          "label": "5 seconds"
        },
        {
          "value": "6000",
          "label": "6 seconds"
        },
        {
          "value": "7000",
          "label": "7 seconds"
        },
        {
          "value": "8000",
          "label": "8 seconds"
        },
        {
          "value": "9000",
          "label": "9 seconds"
        },
        {
          "value": "10000",
          "label": "10 seconds"
        }
      ],
      "default": "5000"
    },
    {
      "type": "select",
      "id": "effect",
      "label": "Slide effect",
      "options": [
        {
          "value": "slide",
          "label": "Sliding"
        },
        {
          "value": "fade",
          "label": "Fading"
        },
        {
          "value": "cube",
          "label": "Cube"
        },
        {
          "value": "flip",
          "label": "Flipping"
        }
      ],
      "default": "slide"
    },
    {
      "type": "number",
      "id": "space",
      "label": "Space between images",
      "default": 15
    },
    {
      "type": "header",
      "content": "Responsive columns"
    },
    {
      "type": "select",
      "id": "col",
      "label": "Width",
      "info": "For small screen (0px - 575px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "col_sm",
      "label": "Width",
      "info": "For medium screen (576px - 767px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "3"
    },
    {
      "type": "select",
      "id": "col_md",
      "label": "Width",
      "info": "For large screen (768px - 991px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "col_lg",
      "label": "Width",
      "info": "For xlarge screen (992px - 1199px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "col_xl",
      "label": "Width",
      "info": "For xxlarge screen (1200px - 1399px)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "col_xxl",
      "label": "Width",
      "info": "For xxxlarge screen (1400px - infinity)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "default": "5"
    },
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "Enable navigaiton",
      "default": true
    },    
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Enable pagination",
      "default": true
    },
	{
      "type": "header",
      "content": "Banner Settings"
    },
	{
      "type": "checkbox",
      "id": "banner_active",
      "label": "Show banner",
      "default": true
    },
	{
      "type": "select",
      "id": "banner_position",
      "label": "Banner position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Upload image"
    },
	{
      "type": "url",
      "id": "image_link",
      "label": "Link to"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tab",
      "category": "Collection",
	  "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
		{
          "type": "tab"
        },
		{
          "type": "tab"
        },
		{
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}